.season {
  background-color: #f5f5f5;
  padding: 10px;
}

.season_tools {
  /*display: flex;*/
}
.seasons_buttons{
  width: 100%;
  display: flex;
  /*margin-bottom: auto;*/
  /*padding-right: 50px;*/
}
.seasons_buttons div{
  margin-left: 10px;
  margin-bottom: 10px;
}
/*.seasons_buttons a{
  padding: 3px 5px;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  background-color: #F57B4B;
}*/

.chat_block {
  border: 1px solid black;
}
.chat_block form{
  display: flex;
}
.chat_block form textarea{
  width: 90%;
  height: 30px;
  resize: none;
}
.chat_block form input{
  width: 10%;
  padding: 0;
  color: white;
  background-color: green;
}
.chat_messages{
  height: 250px;
  overflow: auto;
}
.message{
  display: flex;
}
.message div{
  margin-left: 5px;
}
.author{
  border-radius: 5px;
  background-color: #C8E1E6;
}