  // Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  width: 100%;
  height: 100%
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Livvic;
  background-image: url('BandCampBackground.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}
.container {
  width: 70%;
  margin: 0 auto;
  padding: 50px 10px;
  height: 100%;
  overflow: auto;
}

.table-dark {
  background-color: rgba(52, 58, 64, 0.8);;
}

.information {
  float: right;
  display: flex;
  margin-top: 4%;
  margin-right: auto;
  width:15%;
  border: 1px solid black;
}

/*=====================Users Table========================*/
.table__users {
  width: 100%;
  border: 1px solid #E3E7FF;
  background-color: white;
}
.table__users-head {
  display: flex;
  background-color: grey;
}
.table__users-head span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 30px;
  text-align: center;
  border-right: 1px solid #E3E7FF;
}
.table__users-head span:nth-child(4n) {
  border-right: 0;
}
.users__body-row {
  display: flex;
  width: 100%;
  height: 30px;
}
.users__body-row span {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;;
  width: 25%;
  border-right: 1px solid #E3E7FF;
}
.users__body-row:nth-child(2n) span{
  border-right: 1px solid white;
  background-color: #E3E7FF;
}
.users__body-row span:nth-child(4n) {
  border-right: 0;
}
.users__button{
  margin-left: 5px;
  transition: opacity 0.5s ease-out;
}
.users__button a{
  padding: 1px 5px;
  text-decoration: none;
  /*background-color: #CC9B58;*/
  background-color: blue;
  color: white;
  border-radius: 10px;
}
.users__button:hover {
  opacity: 0.6;
}
.new__button a{
  padding: 3px 3px;
  text-decoration: none;
  color: white;
  background-color: #F57B4B;
}
/*===================================================*/
/*======================Seasons Table=======================*/
.table__seasons {
  width: 100%;
  border: 1px solid #E3E7FF;
  background-color: white;
}
.table__seasons-head {
  display: flex;
  background-color: grey;
}
.table__seasons-head span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 30px;
  text-align: center;
  border-right: 1px solid #E3E7FF;
}
/*.table__seasons-head span:nth-child(4n) {
  border-right: 0;
}*/
.seasons__body-row {
  display: flex;
  width: 100%;
  height: 30px;
}
.seasons__body-row span {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;;
  width: 20%;
  border-right: 1px solid #E3E7FF;
}
.seasons__body-row:nth-child(2n) span{
  border-right: 1px solid white;
  background-color: #E3E7FF;
}
.seasons__button{
  margin-left: 5px;
  transition: opacity 0.5s ease-out;
}
.seasons__button a{
  padding: 1px 5px;
  text-decoration: none;
  /*background-color: #CC9B58;*/
  background-color: blue;
  color: white;
  border-radius: 10px;
}
/*=================================================*/

/*==========================Events Table===========================*/
.table__events {
  width: 100%;
  border: 1px solid #E3E7FF;
  background-color: white;
}
.table__events-head {
  display: flex;
  background-color: grey;
}
.table__events-head span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 30px;
  text-align: center;
  border-right: 1px solid #E3E7FF;
}
.table__events-head span:nth-child(4n) {
  border-right: 0;
}
.events__body-row {
  display: flex;
  width: 100%;
  height: 30px;
}
.events__body-row span {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;;
  width: 25%;
  border-right: 1px solid #E3E7FF;
}
.events__body-row:nth-child(2n) span{
  border-right: 1px solid white;
  background-color: #E3E7FF;
}
.events__body-row span:nth-child(4n) {
  border-right: 0;
}
.events__button{
  margin-left: 5px;
  transition: opacity 0.5s ease-out;
}
.events__button a{
  padding: 1px 6px;
  text-decoration: none;
  /*background-color: #CC9B58;*/
  background-color: blue;
  color: white;
  border-radius: 10px;
}

.custom-select {
  z-index: 0;
}